@{
    ViewBag.Title = "Contact Us";
}

<div class="banner-area">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(@Url.Content("~/Content/Images/background01.jpg"))"></div>
    <!-- /Backgound Image -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="white-text title">Contact Us</h2>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-5 col-md-offset-7">
                <div class="section-header">
                    <h4 class="sub-title">@ViewBag.Title</h4>
                    <h2 class="title">Get In Touch</h2>
                </div>
                <div class="contact-content">
                    <p>Te sit stet labitur veritus, sea similique consetetur ut. Ne fastidii oportere usu. Iusto mediocrem iudicabit ea eos, nemore offendit detraxit ei cum.</p>
                    <h3>Tel: <a href="#">045-548-14-97</a></h3>
                    <p>Address: 3685 Granville Lane</p>
                    <p>Email: <a href="#">Risotto@email.com</a></p>
                    <ul class="list-inline">
                        <li><p>Follow Us:</p></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
    <!-- map -->
    <div id="map"></div>
    <!-- /map -->

</div>
<!-- Contact -->